<!doctype html>
<html lang="en">
  <head>
    <style>
      body{
        background-color:rgb(88, 196, 230);
          }
        button{
          background-color:  #f7118f;
          
          }  
        h1{
          text-align:left;
          color:black;
          margin: auto 0;;
        }
    </style>
    
    <title>Registered</title>
  </head>
  <body >
    <h1 class="alert alert-danger" role="alert"  >
        You have already Registered!! Go to login page!
    </h1>
  
      <a style="font-size: 25px;" class="btn btn-primary" href="/login" > login here </a>
    
      
    
  
</body>
</html>