<!doctype html>
<html lang="en">
  <head>
    <style>
      body{
        background-color:wheat
        ;
          }
        button{
          background-color: white;
          
          }  
        h1{
          text-align:left;
          color:red;
          margin: auto 0;;
        }
    </style>
    
    <title>Hello, world!</title>
  </head>
  <body >
    <h1 class="alert alert-danger" role="alert"  >
        Incorrect!! Check your email or password!! 
    </h1>
    
      <a style="font-size: 20px;" class="btn btn-success" href="/" >  Go Back </a>
  
      
    
  
</body>
</html>