<!DOCTYPE html>
<html lang="en">
  <head>
 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>register-page</title>
    <style>
      body {
        background-color:rgb(135, 222, 193);
        background-repeat: no-repeat;
        background-attachment: fixed;  
        background-size: cover;
      }
      center{
        word-spacing: 1px;
        padding: 85px;
      }
      h1{
        text-align: center;
        color:royalblue;


      }
      h5{
        color: blueviolet;
      }
      </style>
    
  </head>
  <body> 
    {% include "message.html"%}
    {% block body %}
    {% endblock %}
<form action="/" method="POST">
  <h1>Welcome to codec machine learning website</h1>
  
 <center>

  <h5>Register here to join our programme</h5>
      <fieldset style=width:300px;>
        
        
        <div class="form-group">
          <label for="Email">Email address</label>
          <input type="email" class="form-control" id="Email" name="Email" aria-describedby="emailHelp" required placeholder="example@gmail.com">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="Password">Password</label>
          <input type="password" class="form-control" id="Password" name="password" required placeholder="password">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button class="btn btn-danger"  role="button">Register</button>
        <p>
          already registered?
          <a href=" /login ">login here</a>  
        </p>

        <fieldset>
        </center>
   

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>